<% layout('/layouts/boilerplate') -%>
<body>
<h2 class="form-heading text-center">Listing Details</h2>

<div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col-md-6 ">
            <img src="<%= listing.image.url %>" alt="Listing image" class="img-fluid rounded shadow-sm mb-4" style="max-height: 300px; object-fit: cover; width:100%">
            <h4 class="card-title"><%= listing.title %></h4>
            <p class="text-muted"><%= listing.description %></p>
            <h5 class="text-success">₹ <%= listing.price.toLocaleString("en-IN") %></h5>
            <p><i class="fa-solid fa-location-dot"></i> <%= listing.location %>, <%= listing.country %></p>
            <div class="row justify-content-center mb-4">
                <div class="col-md-6 d-flex justify-content-center gap-3 align-items-center">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-purple d-flex align-items-center justify-content-center px-4" style="height: 42px; width: 150px">Edit</a>
                    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button class="btn btn-danger d-flex align-items-center justify-content-center px-4" style="height: 42px; width: 150px">Delete</button>

                    </form>
                </div>
            </div>
            <div>

                <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
                    <h4>   Leave a Review    </h4>
                <div>
                       <label for="review" class="form-label">Rating</label>
                        <input type="range" min="1" max="5" step="1" value="3" name="review[rating]" id="rating">

                    </div>
                    <div>
                        <label for="comment" class="form-label">Comments</label>
                        <textarea  name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                        <div class ="invalid-feedback">
                            Please provide a valid review comment.
                        </div>
                    </div>

                    <button class="btn btn-info d-flex align-items-center justify-content-center px-4" style="height: 42px; width: 150px">Post</button>
                </form>
            </div>

        </div>
        <h4>All Reviews</h4>
        <p><%= listing.reviews%></p>
    </div>


</div>
</body>
